@mixin fillbutton {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  overflow: hidden;
  color: var(--white);
  padding: 0;
  margin-right: 25px;

  span {
    position: relative;
    display: inline-block;
    font-size: 22px;
    font-weight: 400;
    text-transform: none;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid var(--green);
    color: var(--white);
    transition: 0.2s 0.1s;
    border-radius: 5px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    background-color: var(--green);
    transition: 0.3s ease-out;
  }

  &.hover-filled-slide-down {
    &::before {
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }

    &:hover::before {
      height: 0%;
    }
  }

  &:hover span {
    color: var(--green);
    transition: 0.2s 0.1s;
  }
   
 @media #{$mq-laptop} {
    & span {
      padding: 7px 15px;
      font-size: 16px;
    }
  }
 
}