html,
body {
  position: relative;
  background: #fff;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  font-family: "Gabarito", sans-serif;
}

$mq-4k: "(min-width: 2201px) and (max-width: 4000px)";
$mq-Bigscreen: "(max-width: 1680.98px)";
$mq-laptop: "(max-width: 1440.98px)";
$mq-miniscreen: "(max-width: 1280.98px)";
$mq-tablet-lg: "(max-width: 1199.98px)";
$mq-tablet-md: "(max-width: 991.98px)";
$mq-tablet-sm: "(max-width: 767.98px)";
$mq-mobile-sm: "(max-width: 575.98px)";

:root {
  --primary-color: #2E469D;
  --white: #fff;
  --black: #383838;
  --green: #00BA76;
  --fontcolor: rgba(46, 70, 157, 0.9);
  --section-padding: 100px;
}

.container-fluid {
  padding: 0 40px;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    color: #000; // or any hover color you prefer
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gabarito", sans-serif;
  color: var(--primary-color);
}

ul {
  margin: 0px;
  padding: 0px;

  li {
    a {
      text-decoration: none;
    }
  }
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 80px;

  @media (max-width: 1680.98px) {
    font-size: 70px;
  }

  @media (max-width: 1440.98px) {
    font-size: 40px;
  }

  @media (max-width: 1199.98px) {
    font-size: 45px;
  }

  @media (max-width: 991.98px) {
    font-size: 35px;
  }
  @media (max-width: 575.98px) {
    font-size: 25px;
  }

  @media (max-width: 414.98px) {
    font-size: 23px;
  }

}

h3 {
  font-size: 64px;

  @media (max-width: 1440.98px) {
    font-size: 40px;
  }

  @media (max-width: 1199.98px) {
    font-size: 30px;
     br {
      display: none;
    }
  }
 
 
}

h4 {
  font-size: 40px;
}


h5 {
  color: #1E1E1E;
  letter-spacing: 2px;
  font-size: 22px;
 @media (max-width: 414.98px) {
     font-size: 15px;
  }

}

h6 {
  color: #1E1E1E;
  font-size: 16px;
}

p {
  font-size: 18px;
  line-height: 35px;

  @media (max-width: 1440.98px) {
    font-size: 17px !important;
  }
}

.select {
  height: 50px;
  position: relative;
  margin-top: 10px;
  display: flex;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: #9198b1;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--white);
  padding: 0;

  &::after {
    content: "";
    background: url(../images/arrow.svg) no-repeat;
    position: absolute;
    transition: 0.25s all ease;
    width: 14px;
    pointer-events: none;
    height: 11px;
    left: auto;
    right: 11px;
    top: 21px;
  }

  &:hover::after {
    color: #f39c12;
  }

  select {
    // Reset Select
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;

    // Personalize
    flex: 1;
    padding: 0 1em;
    color: #9198b1;
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;

    // Remove IE arrow
    &::-ms-expand {
      display: none;
    }
  }
}


.quality-brief {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    border-top: 1px solid #ccc;
    margin-top: 60px;
    padding: 40px 0;

    @media (max-width: 1199.98px) {
      justify-content: center;
    }

    li {
      display: inline-block;
      padding-right: 109px;

      &:last-child {
        @media (max-width: 991.98px) {
          padding-right: 0;
        }
      }

      @media (max-width: 1680.98px) {
        padding-right: 70px;
      }

      @media (max-width: 1440.98px) {
        padding-right: 40px;
      }

      @media (max-width: 1280.98px) {
        padding-right: 35px;
      }

      @media (max-width: 991.98px) {
        padding-right: 20px;
      }


      img {
        margin-bottom: 20px;
      }

      h5 {
        letter-spacing: 0px !important;
        margin-bottom: 0px !important;
        opacity: 1 !important;
      }

      h4 {
        color: #9198b1;
        font-weight: 400;
        font-size: 18px;
         @media (max-width: 414.98px) {
           font-size: 13px;
         }
       }
     }
  }
}



.heading {
  text-align: center;

  h5 {
    opacity: 0.7;
  }

  p {
    font-size: 18px;
    line-height: normal;

    @media (max-width: 1199.98px) {
      br {
        display: none;
      }
    }
  }
}

.accordion {
  .accordion-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e6e7eb;
    border-radius: 0 !important;

    h2.accordion-header {
      line-height: normal;

      .accordion-button {
        font-size: 26px;
        background-color: transparent;
        color: var(--primary-color);
        padding: 25px 0;
        position: relative;

        @media (max-width: 1440.98px) {
          font-size: 16px;
        }

        @media (max-width: 1199.98px) {
          font-size: 16px;
        }

        &::after {
          content: "";
          background-image: url(../images/plus.svg);
          background-size: 1rem;
          background-repeat: no-repeat;
          background-position: center;
          width: 1rem;
          height: 1rem;
          position: absolute;
          right: 0;
          top: 30px;
          transform: rotate(0deg);
          transition: transform 0.3s ease;
        }

        &.collapsed::after {
          background-image: url(../images/plus.svg);
          transform: rotate(0deg);
        }

        &:not(.collapsed)::after {
          content: "";
          position: absolute;
          background-color: #00BA76;
          width: 12px;
          height: 2px;
          transform: rotate(180deg);
        }

      }
    }

    .accordion-collapse {
      .accordion-body {
        p {
          color: var(--primary-color);
          font-size: 18px;
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}

.Innerban-ovl {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 50px 80px 0;
  @media (max-width: 991.98px) {
   padding: 30px 65px 0;      
  }
  @media (max-width: 414.98px) {
   padding: 20px 33px 0;   
  }
  nav {
    ol {
      li.breadcrumb-item {
        position: relative;
        padding-right: 28px;
        @media (max-width: 414.98px) {
          padding-right: 16px;
         }
        &::before {
          content: "";
          background: url(../images/caret.png) no-repeat;
          width: 10px;
          height: 10px;
          position: absolute;
          right: 0;
          top: 7px;
        }

        &:last-child::before {
          display: none;
        }

        &.active {
          a {
            color: var(--primary-color);
          }
        }

        a {
          color: #9198b1;
          font-size: 18px;
        }
      }
    }
  }

  h3 {
    font-size: 60px;
    @media (max-width: 1680.98px) {
     font-size: 45px;
    }
     @media (max-width: 1440.98px) {
     font-size: 35px;
    }
    @media (max-width: 757.98px) {
     font-size: 25px;
    margin-bottom: 20px;
    }
    @media (max-width: 414.98px) {
     font-size: 20px;
    }
  }

  a {
    &.btn {
      margin-right: 25px;
      @include fillbutton;
       @media (max-width: 414.98px) {
         display: none;
      }
    }
  }
}

// hero-banner-sec

.hero-banner-sec {

  .container-fluid {
    position: relative;

    @media (max-width: 757.98px) {
      padding: 0 20px;
    }

    .hero-banner-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      padding: 0 100px;

      @media (max-width: 991.98px) {
        padding: 0 55px;
        background-color: rgba(255, 255, 255, 0.7);
      }

      @media (max-width: 575.98px) {
        padding: 0 40px;
      }

      .w-50 {
        width: 40% !important;

        @media (max-width: 1680.98px) {
          width: 50% !important;
        }

        @media (max-width: 991.98px) {
          width: 100% !important;
        }
      }

      p {
        font-size: 24px;
        color: #1E1E1E;
        line-height: normal;
        margin: 30px 0;

        @media (max-width: 575.98px) {
          margin: 20px 0;
        }
       br{
          @media (max-width:414.98px) {
             display: none;
        }
       }
      }

      h1 {
        margin: 0;
        text-align: left;
        line-height: normal;
        overflow: hidden;

        span {
          display: block;
          animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
          overflow: hidden;
        }

        @keyframes reveal {
          0% {
            transform: translate(0, 100%);
          }

          100% {
            transform: translate(0, 0);
          }
        }
      }

      .effect {
        position: relative;
        overflow: hidden;

        h2 {
          margin: 0;
          text-transform: capitalize;
          animation: fadeIn 0s 0.6s;
          animation-fill-mode: backwards;

          @media (max-width: 1680.98px) {
            br {
              display: none;
            }
          }

          &::after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #f0f2f6;
            transform: translateX(-100%);
            animation: slideIn 0.6s 0s, slideOut 0.6s 0.6s;
            animation-fill-mode: both;
          }
        }

        @keyframes fadeIn {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }

        @keyframes slideIn {
          0% {
            width: 0;
          }

          100% {
            width: 100%;
          }
        }

        @keyframes slideOut {
          0% {
            transform: translateX(0);
          }

          100% {
            transform: translateX(100%);
          }
        }

        .pv-logo {
          position: fixed;
          top: 30px;
          right: 30px;

          img {
            border-radius: 50%;
            max-width: 40px;

          }
        }

      }

    }
  }


  img {
    border-radius: 40px;

    @media (max-width: 757.98px) {
      border-radius: 10px;
      height: 100%;
      object-fit: cover;
    }
  }

  .btn-align {
    @media (max-width: 575.98px) {
         display: none;
    }

    a {
      &:first-child {
        &.btn {
          margin-right: 25px;
          @include fillbutton;
        }
      }

      &:last-child {
        &.btn {
          @include fillbutton;

          &::before {
            background-color: var(--white);
          }

          span {
            color: var(--green);
            border: 2px solid var(--white);

            &:hover {
              color: var(--primary-color);
              border: 2px solid var(--primary-color);
            }
          }
        }
      }
    }
  }

}



// hero-banner-sec

// ourclient-sec

.ourclient-sec {
  padding: 30px 0;
  overflow: hidden;

  .col-lg-3 {
    width: 22%;

    @media (max-width: 1440.98px) {
      width: 25%;
    }

    @media (max-width: 991.98px) {
      width: 50%;
    }

    @media (max-width: 575.98px) {
      width: 100%;
    }
  }

  p.mr-4 {
    color: #1E1E1E;
    margin: 10px 0 0 0;
    text-align: center;

    @media (max-width: 991.98px) {
      text-align: left;
      padding-left: 15px;
    }

    @media (max-width: 757.98px) {
      text-align: center;
      padding-left: 0;
    }
  }

  .client-slider {
    position: relative;

    @media (max-width: 575.98px) {
      margin: 15px 0;
    }

    &::before {
      content: "";
      background-color: #ccc;
      position: absolute;
      width: 2px;
      height: 20px;
      right: 10px;
      top: 12px;

      @media (max-width: 1440.98px) {
        display: none;
      }

    }

    .item {
      img {
        width: inherit;
      }
    }
  }

  .google-tag {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 7px 0px 0px 0px;

    @media (max-width: 575.98px) {
      margin: 0px;
      justify-content: center;
    }

    p {
      margin: 0 0 0 20px;
      color: #1E1E1E;

      @media (max-width: 1680.98px) {
        margin: 0 0 0 14px;
      }

      @media (max-width: 1440.98px) {
        font-size: 14px;
        line-height: normal;
      }

      @media (max-width: 757.98px) {
        margin: 0px;
        justify-content: start;
      }
    }

    img {
      @media (max-width: 1199.98px) {
        display: none;
      }
    }


  }

}

// ourclient-sec

// .shop-categories-sec

.shop-categories-sec {
  padding: 70px 0px;
  background: linear-gradient(180deg, rgb(255, 246, 242) 0%, rgb(196, 235, 236) 100%);
  margin: 0 40px;
  border-radius: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;

  h3{
    @media (max-width: 414.98px) {
      font-size: 23px;
    } 
  }

  @media (max-width: 575.98px) {
    margin: 0 20px;
  }

  @media (max-width: 414.98px) {
    padding: 35px 0px;
  }

  .container-fluid {
    @media (max-width: 757.98px) {
      padding: 0 40px;
    }

    @media (max-width: 575.98px) {
      padding: 0 15px;
    }
  }

  .dd-flex {
    display: flex;

    @media (max-width: 1199.98px) {
      padding: 0 20px;
    }
    @media (max-width: 575.98px) {
      flex-direction: column;
    }
  }

  .row {
    .col-lg-3 {
      width: 20%;

      @media (max-width: 991.98px) {
        width: 100%;
      }

      @media (max-width: 1199.98px) {
        width: 33%;
      }

      @media (max-width: 757.98px) {
        width: 50%;
      }

       @media (max-width: 414.98px) {
        width: 100%;
      }
    }
  }

  .nav {
    align-items: center;
    justify-content: center;
    margin: 50px 0;
     &.mb-3 {
       @media (max-width: 991.98px) {
         margin-bottom: 3rem !important;
       }
       @media (max-width: 414.98px) {
         margin-bottom: 0rem !important;
       }
     }
    @media (max-width: 575.98px) {
     justify-content: space-between;
    }

    li.nav-item {
      position: relative;

      @media (max-width: 575.98px) {
        margin: 10px 0;
      }

      button {
        padding: 0 25px;

        @media (max-width: 1680.98px) {
          padding: 0 11px;
        }

        @media (max-width: 1199.98px) {
          padding: 0 5px;
        }
      }

      &:last-child {
        span {
          font-size: 16px;
          color: #00ba76;
          margin: 0 auto;
          display: table;
          position: absolute;
          top: auto;
          bottom: -41px;
          left: 0;
          right: 0;
        }
      }


      .nav-link {
        &.active {
          background-color: transparent;

          .iconic {
            background-color: var(--green);

            img {
              filter: brightness(0.2) invert(1) contrast(120%);
              opacity: 1;
            }
          }

          span {
            color: #00BA76;
          }
        }

        span {
          position: absolute;
          top: auto;
          bottom: -45px;
          left: 0;
          right: 0;
          color: #9198b1;
          font-size: 18px;
          text-transform: capitalize;

          @media (max-width: 757.98px) {
            display: none;
          }
        }
      }

      .iconic {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        overflow: hidden;
        position: relative;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 999;
        box-shadow: 0px 4px 12px rgba(35, 49, 99, 0.05);

        img {
          opacity: 0.5;

          @media (max-width: 1440.98px) {
            width: 40%;
          }
        }

        @media (max-width: 1440.98px) {
          width: 70px;
          height: 70px;
        }

        @media (max-width: 1199.98px) {
          width: 75px;
          height: 75px;

          img {
            width: 40%;
          }
        }
      }
    }
  }

  .viewall {
    margin-top: 5rem;

    @media (max-width: 1199.98px) {
      margin-top: 4rem;
    }

    @media (max-width: 757.98px) {
      margin-top: 1rem;
    }

    .vw-btn {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      overflow: hidden;
      position: relative;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 999;
      border: 2px solid #00ba76;
      margin: 0 10px 0 12px;

      &:hover {
        background-color: var(--primary-color);
        color: var(--white);
      }

      @media (max-width: 1440.98px) {
        width: 70px;
        height: 70px;
      }

      @media (max-width: 1199.98px) {
        width: 75px;
        height: 75px;
      }

      @media (max-width: 1199.98px) {
        width: 50px;
        height: 50px;
      }

      img {
        @media (max-width: 1199.98px) {
          width: 50%;
        }
      }

      i {
        color: #00ba76;
        font-size: 30px;
      }
    }

    span {
      margin-top: 22px;
      display: inline-block;
      color: var(--green);

      @media (max-width: 1199.98px) {
        margin-top: 0px;
      }
    }

    @media (max-width: 991.98px) {
      position: absolute;
      right: 30px;
      top: 0;
    }
    @media (max-width: 575.98px) {
      position: relative;
      right: 0px;
      top: 0;
    }

  }

  .owl-theme {
    .owl-nav {
      &.disabled+.owl-dots {
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: auto;
        bottom: -56px;

        button {
          &.owl-dot {
            span {
              width: 40px;
              height: 5px;
              margin: 5px 7px;
              background: var(--primary-color);
              display: block;
              transition: opacity 0.2s ease;
              border-radius: 0px;
              opacity: 0.5;
            }
          }

          &.active {
            opacity: 1 !important;

            span {
              opacity: 1 !important;
            }
          }
        }
      }
    }
  }
}

.product-item {
  background-color: var(--white);
  border-radius: 20px;
  overflow: hidden;
  margin-top: 85px;

  @media (max-width:1024.98px) {
    margin-top: 45px;
  }

  &:hover {
    .pro-box {
      &:after {
        transform: skew(20deg) translateX(0);
      }

      img {
        opacity: 0.5;
        transform: scale(1.1);
        transition: transform 0.35s ease;
      }

      .title {
        transform: scale(1);
      }

      .post {
        opacity: 1;
        transform: translateX(0);
      }

      .icon li {
        opacity: 1;
        transform: translateX(0);

        &:first-child {
          transition-delay: 0.1s;
        }

        &:nth-child(2) {
          transition-delay: 0.2s;
        }
      }
    }
  }

  img {
    width: 100%;
  }

  .product-dtl {
    padding: 20px;
    transition: all 0.9s ease 0s;
    position: relative;

    h5 {
      letter-spacing: 0;
      font-size: 22px;
      color: #233163;
      margin-bottom: 0;

      @media (max-width: 1366.98px) {
        font-size: 16px;
      }

    }

    .d-flex {
      align-items: center;
      justify-content: space-between;
      width: 100%;
      @media (max-width: 575.98px) {
       flex-direction: inherit;
      }
      span {
        small {
          img {
            width: inherit;
          }
        }

        &:nth-child(1) {
          display: flex;

          img {
            margin-right: 7px;
          }

          h6 {
            margin-bottom: 0;

            @media (max-width: 1366.98px) {
              font-size: 14px;
            }

          }
        }

        &:nth-child(2) {
          width: 40px;
          height: 40px;
          border: 1px solid #ccc;
          padding: 10px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          position: relative;
          top: -10px;

          @media (max-width: 1366.98px) {
            width: 30px;
            height: 30px;
            padding: 9px;
          }
        }
      }
    }
  }

  .pro-box {
    background: #000;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      transition: transform 0.35s ease;
    }

    .box-content {
      padding: 0;
      text-align: right;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }

    .title {
      font-size: 20px;
      font-weight: 400;
      color: var(--white);
      margin: 0;
      transform: scale(0);
      transition: transform 0.35s ease;
      letter-spacing: 1px;
    }

    .post {
      display: block;
      font-size: 14px;
      color: var(--white);
      margin-bottom: 5px;
      opacity: 0;
      transform: translateX(40px);
      transition: all 0.35s ease;
    }

    .icon {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;

      li {
        opacity: 0;
        transform: translateX(40px);
        transition: all 0.35s ease;

        a {
          display: block;
          width: 50px;
          height: 50px;
          line-height: 35px;
          background: var(--green);
          font-size: 18px;
          color: #fff;
          margin-bottom: 5px;
          text-align: center;
          transition: all 0.35s ease;
          text-decoration: none;
          border-radius: 0px 0px 0px 15px;
          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: 1366.98px) {
            width: 40px;
            height: 40px;
            font-size: 13px;
          }

          &:hover {
            background: #605f5f;
            color: var(--white);
          }
        }
      }
    }
  }
}

// .shop-categories-sec


// custom-boxes-sec

.custom-boxes-sec {
  padding: 100px 0;
  overflow: hidden;

  @media (max-width: 1199.98px) {
    padding: 70px 0 60px;
  }

  .col-sm-6 {
    @media (max-width: 1199.98px) {
      margin-bottom: 6%;
      width: 100%;
      text-align: center;
    }

    @media (max-width:757.98px) {
      margin-top: 5%;
    }
  }

  .container-fluid {
    padding: 0 75px;

    @media (max-width: 991.98px) {
      padding: 0 20px;
    }
  }

  .boxes-detail {
    padding: 65px 50px 0 0px;

    h3 {
      @media (max-width: 1680.98px) {
        font-size: 40px;

        br {
          display: none;
        }
      }

      @media (max-width: 1199.98px) {
        font-size: 30px;
      }

      span {
        color: var(--green);
      }
    }

    @media (max-width: 1199.98px) {
      padding: 0px;
    }

    h5 {
      letter-spacing: 0;
      font-size: 18px;
      margin-bottom: 25px;
      opacity: 0.7;

      @media (max-width: 1199.98px) {
        margin-bottom: 0px;
      }

    }

    p {
      color: #233163;
      font-size: 22px;
      width: 80%;
      margin-bottom: 0;

      @media (max-width: 1366.98px) {
        width: 100%;
      }

    }

    .btn-align {
      a {
        &:first-child {
          &.btn {
            margin-right: 25px;
            @include fillbutton;
             @media (max-width: 414.98px) {
             margin-bottom: 15px;
            }
          }
         }

        &:last-child {
          &.btn {
            @include fillbutton;

            &::before {
              background-color: var(--green);
            }

            span {
              color: var(--white);
              border: 2px solid var(--green);

              &:hover {
                color: var(--primary-color);
                border: 2px solid var(--primary-color);
              }
            }
          }
        }
      }

    }

    hr {
      border-top: none;
      border: 2px solid var(--primary-color);
      margin: 2rem 0;
      width: 8%;
      opacity: 1;

      @media (max-width: 1199.98px) {
        margin: 0 auto 45px;
      }
    }
  }

  .position-absolute {
    z-index: 9;
    top: 40%;
    left: -45px;

    @media (max-width: 1199.98px) {
      left: 0;
      right: 0;
      top: 0px;
    }

    img {
      @media (max-width:1024.98px) {
        width: 10%;
      }
    }
  }

  .boxes-slider {
    border-radius: 32px;

    .item {
      img {
        border-radius: 32px;
      }
    }

  }


  .owl-theme {
    .owl-nav {
      &.disabled+.owl-dots {
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: auto;
        bottom: 30px;

        @media (max-width: 1199.98px) {
          bottom: -50px;
        }

        button {
          &.owl-dot {
            span {
              width: 40px;
              height: 5px;
              margin: 5px 7px;
              background: #fff;
              display: block;
              transition: opacity 0.2s ease;
              border-radius: 0px;
              opacity: 0.5;

              @media (max-width: 1199.98px) {
                background: var(--primary-color);
              }
            }
          }

          &.active {
            opacity: 1 !important;

            span {
              opacity: 1 !important;
            }
          }
        }
      }
    }
  }

}

// custom-boxes-sec

// ultimate-item 

.ultimate-sec {
  margin: 0 30px;
  overflow: hidden;
  background-color: #fff;

  .container-fluid {
    padding: 100px 50px;
    background: linear-gradient(180deg, rgba(196, 235, 236, 0.6) 0%, rgba(255, 246, 242, 0.6) 54%, rgba(255, 255, 255, 0.6) 90%);
    border-radius: 40px;

    @media (max-width: 1366.98px) {
      padding: 100px 35px;
    }
    @media (max-width: 575.98px) {
      padding: 35px 15px;
    }

    h3 {
        @media (max-width: 1199.98px) {
          font-size: 35px;
       }
        @media (max-width: 575.98px) {
          text-align: center;
          font-size: 25px;
       }
       
     }
 
  }

  p.we {
    color: var(--primary-color);
    font-size: 26px;
    padding-right: 80px;

    @media (max-width: 1440.98px) {
      padding-right: 0px;
    }

    @media (max-width: 575.98px) {
      text-align: center;
    }
  }

  hr {
    border-top: none;
    border: 2px solid var(--primary-color);
    margin: 2rem 0;
    width: 8%;
    opacity: 1;

    @media (max-width: 575.98px) {
      margin: 2rem auto;
    }
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 20%;

    @media (max-width: 1366.98px) {
      padding: 0 5px;
    }

    @media (max-width: 1199.98px) {
      width: 33%;
    }
     @media (max-width: 991.98px) {
      width: 50%;
    }

    @media (max-width: 575.98px) {
      width: 100%;
    }
  }

  .col-lg-6 {
    @media (max-width: 757.98px) {
      width: 100%;
    }
  }


  .ultimate-item {
    border: 2px solid var(--green);
    padding: 25px;
    margin-top: 61px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;

    @media (max-width: 1680.98px) {
      height: 376px;
    }

    @media (max-width: 1440.98px) {
      padding: 10px;
      height: 340px;
    }

    @media (max-width: 1280.98px) {
      height: 320px;
    }

   @media (max-width: 991.98px) {
    margin-top: 25px;
   }

   @media (max-width: 575.98px) {
      margin-top: 35px;
      justify-content: center;
      text-align: center;
    }

    p {
      color: var(--primary-color);
      font-size: 18px;
      padding-right: 0px;
      line-height: 27px;
    }

    img {
      width: 20%;
      margin: 4px 0 55px 0;

      @media (max-width: 1366.98px) {
        margin: 4px 0 40px 0;
      }

      @media (max-width: 575.98px) {
        margin: 25px auto 18px;
      }
    }

    h5 {
      font-size: 26px;
      letter-spacing: 0;
      color: var(--primary-color);
      width: 69%;
      margin-bottom: 20px;
      opacity: 1;

      @media (max-width: 1680.98px) {
        font-size: 20px;
      }

      @media (max-width: 1280.98px) {
        font-size: 18px;
      }

      @media (max-width: 575.98px) {
        width: 100%;
      }
    }

    &.green-card {
      background-color: rgba(2, 199, 127, 1);
      overflow: hidden;
      position: relative;
      z-index: 1;
      display: block;

      &::before {
        content: "";
        background: url(../images/item-bg.svg) no-repeat;
        width: 48%;
        height: 100%;
        position: absolute;
        opacity: 0.8;
        right: 0;
        left: auto;
        top: 0;
        z-index: -1;
      }

      h5 {
        width: 100%;
        color: var(--white) !important;
      }


      p {
        color: var(--white) !important;
      }

      a {
        &.btn {
          @include secondrybtn;
          background-color: var(--white);
          color: var(--green);
          margin-top: 20px;
          font-size: 20px;

          @media (max-width: 1680.98px) {
            margin-top: 6px;
            font-size: 15px;
          }

          @media (max-width: 1440.98px) {
            padding: 15px 10px;
            width: 100%;
          }


          &::after {
            content: "";
            background-color: var(--black);
          }
        }
      }

    }

  }

}

// ultimate-item 


// inspiring-sec

.inspiring-sec {
  margin: 0 30px;
  position: relative;
  overflow: hidden;

  @media (max-width: 575.98px) {
    text-align: center;
  }

  .col-lg-6 {
    @media (max-width: 757.98px) {
      width: 100%;
    }
  }

  &::before {
    content: "";
    background: url(../images/u-bg.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    background-size: contain;
    border-radius: 35px;
  }

  .container-fluid {
    background-color: var(--primary-color);
    border-radius: 32px;
    padding: 55px 55px;

    @media (max-width: 1199.98px) {
      padding: 55px 25px;
    }
  }

  h3 {
    color: var(--white);
    width: 79%;
    position: relative;

    @media (max-width: 1680.98px) {
      width: 90%;
    }

    @media (max-width: 1440.98px) {
      width: 100%;
    }

    span {
      color: var(--green);
    }
  }

  hr {
    border-top: none;
    border: 2px solid var(--white);
    margin: 2rem 0;
    width: 8%;
    opacity: 1;

    @media (max-width: 575.98px) {
      margin: 0 auto;
    }
  }

  .google-tag {
    display: flex;
    align-items: start;
    justify-content: end;

    @media (max-width: 757.98px) {
      align-items: start;
      justify-content: start;
    }

    @media (max-width: 575.98px) {
      display: none;
    }

    p {
      margin: 0 10px 0 20px;
      color: var(--white);

    }
  }

  .col-sm-3 {
    width: 20%;

    @media (max-width: 991.98px) {
      width: 33.333%;
    }
     @media (max-width: 414.98px) {
      width: 100%;
    }
  }

  .col-sm-4 {
    width: 40%;

    @media (max-width: 991.98px) {
      width: 100%;
    }
  }

  .review-item {
    @media (max-width: 991.98px) {
      margin-top: 70px;
    }
     @media (max-width: 414.98px) {
       margin-top: 30px;
     }
  }

  .owl-theme {
    .owl-nav {
      &.disabled+.owl-dots {
        position: absolute;
        z-index: 999;
        left: 0;
        top: auto;
        bottom: -70px;

        @media (max-width: 1366.98px) {
          bottom: -65px;
        }

        @media (max-width: 991.98px) {
          bottom: -30px;
        }

        @media (max-width: 575.98px) {
          bottom:-45px;
          margin: 0 auto;
          display: table;
          left: 0;
          right: 0;
        }

        button {
          &.owl-dot {
            span {
              width: 40px;
              height: 4px;
              margin: 5px 7px;
              display: block;
              transition: opacity 0.2s ease;
              border-radius: 0px;
              opacity: 0.5;
              background-color: var(--white);
            }
          }

          &.active {
            opacity: 1 !important;

            span {
              opacity: 1 !important;
            }
          }
        }
      }
    }
  }
}

.review-content {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 20px;

  img {
    width: 100%;
  }

  .overylay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;


      img {
        width: 20%;
        animation: pulse-animation 2s infinite;
        border-radius: 100%;

        @keyframes pulse-animation {
          0% {
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.8);
          }

          100% {
            box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
          }
        }
      }
    }
  }
}

.inspiring-info {
  margin-top: 7%;

  @media (max-width: 991.98px) {
    margin-top: 4%;
  }

  h2 {
    width: 58%;
    color: var(--white);
    font-size: 52px;

    @media (max-width: 1680.98px) {
      width: 80%;
    }

    @media (max-width: 1440.98px) {
      width: 100%;
      font-size: 30px;
    }

    @media (max-width: 1199.98px) {
      font-size: 22px;
    }
  }

  .green-str {
    margin-top: 7%;

    ul {
      li {
        display: inline-block;

        img {
          width: auto !important;
        }
      }
    }
  }
}

.review-item {
  h6 {
    color: #C6D9F4;
    font-size: 18px;
  }

  h5 {
    color: var(--white);
    letter-spacing: 0;
    font-size: 22px;

    @media (max-width: 1680.98px) {
      font-size: 19px;
    }

    @media (max-width: 1440.98px) {
      font-size: 15px;
    }

    @media (max-width: 1199.98px) {
      font-size: 13px;
    }
  }
}


// inspiring-sec

// faqsec

.faqsec {
  padding: 100px 0px;

  @media (max-width: 1199.98px) {
    padding: 70px 0px 60px;
    overflow: hidden;
  }

  .container-fluid {
    padding: 0 80px;

    @media (max-width: 991.98px) {
      padding: 0px 30px;
    }
  }

  h2 {
    line-height: 80px;

    @media (max-width: 1440.98px) {
      line-height: normal;
    }

    @media (max-width: 1199.98px) {
      br {
        display: none;
      }
    }
  }

  hr {
    border-top: none;
    border: 2px solid var(--primary-color);
    margin: 3rem 0 0rem;
    width: 3%;
    opacity: 1;

    @media (max-width: 1199.98px) {
      margin: 1rem 0 0rem;
    }
  }

  p {
    font-size: 18px;
    width: 50%;
    color: var(--primary-color);
    margin: 50px 0;

    @media (max-width: 1440.98px) {
      width: 100%;
    }

    span {
      color: var(--green);
    }
  }

  a {
    &.btn {
      @include fillbutton;

      span {
        font-size: 20px;

        @media (max-width: 1440.98px) {
          font-size: 15px;
        }
      }
    }
  }

  .customer-care {
    background: linear-gradient(180deg, rgba(255, 246, 242, 0.6) 0%, rgba(196, 235, 236, 0.6) 100%);
    border-radius: 24px;
    width: 332px;
    padding: 25px;
    margin-top: 18%;

    @media (max-width: 757.98px) {
      width: 100%;
      margin-top: 0;
    }

    h4 {
      font-size: 26px;
      margin-top: 30px;
    }
  }

}


// faqsec



.inspires-sec {
  padding: 60px 0 60px;
  background: linear-gradient(180deg, rgba(255, 246, 242, 0.6) 0%, rgba(196, 235, 236, 0.6) 100%);
  border-radius: 40px;
  margin: 0 40px 40px;

  @media (max-width: 757.98px) {
    margin:0 15px 35px;
  }

  .container-fluid{
    @media (max-width: 757.98px) {
     padding: 0 25px;
    }
  }

 
  .col-lg-3 {
    width: 20%;

    @media (max-width: 757.98px) {
      width: 50%;
    }
  }

  .inspires-item {
    position: relative;
    overflow: hidden;
    background-color: #667;
    transition: 0.8s;
    margin-top: 30px;
    border-radius: 24px;

    img {
      width: 100%;
      transition: 0.8s;

      &:hover {
        // transform: scale(1); 
        transition: 0.8s;
      }
    }

    span {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: -120%;
      background-color: rgba(255, 255, 255, 0.3);
      transition: 0.8s;
      transform: skewX(10deg);
    }

    &:hover {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      span {
        left: 120%;
      }
    }
  }

}