.signleproductinfo {
 margin: 0px 40px 60px;
 border-radius: 24px;
 overflow: hidden;
 background-color: #ffeacd;
 transition: background-color 0.5s ease;

 .conainer-fluid {
  padding: 0 20px 45px;

  .row {
   .cart-head {
    margin: 1% 0px 0 4%;
   }

   .offset-md-0 {
    margin-left: 12%;
    padding-left: 20px;
   }

  }
 }

 .Innerban-ovl {
  position: relative;
  padding: 50px 40px 0;

  .cart-head {
   margin-top: 60px;

   p {
    width: 34%;
    padding: 24px 0 0;
   }
  }
 }

 .google-tag {
  display: flex;
  align-items: center;
  justify-content: start;

  p {
   margin-bottom: 0;
  }

  img {
   margin-right: 10px;
  }
 }

 .product-slider {
  text-align: center;
  position: relative;

  .owl-product-two {
   margin: 0 auto;
   display: table;

   .item {
    border: 4px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(35, 49, 99, 0.05);
    overflow: hidden;
   }

   .owl-stage-outer {
    margin: 0px auto 0px;
    display: table;
   }
  }

  #sync1 {
   .item {
    text-align: center;

    img {
     aspect-ratio: 108 / 109;
     width: auto;
     margin: 0 auto;
    }
   }
  }

  #sync2 {
   .item {
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;

    img {
     width: 100%;
     aspect-ratio: 99 / 100;
    }
   }

   .current {
    .item {
     border: 4px solid var(--primary-color);
    }
   }
  }

  a.expand-tag {
   background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.28) 100%);
   border-radius: 24px;
   padding: 10px 30px;
   position: absolute;
   z-index: 2;
   text-align: center;
   margin: 0 auto;
   display: inline-block;
   color: var(--primary-color);
   top: auto;
   bottom: 155px;
   background-color: rgb(255, 255, 255, 0.7);
   left: 0;
   right: 0;
   width: 20%;

   img {
    margin-right: 10px;
   }
  }
 }

 .configure-order {
  border: 1px solid rgba(46, 70, 157, 0.25);
  box-shadow: 0px 0px 40px rgba(35, 49, 99, 0.1);
  border: 1px solid rgba(46, 70, 157, 0.25);
  background-color: var(--white);
  border-radius: 24px;
  padding: 35px 35px 0 35px;
  position: relative;

   &:before {
   content: '';
   position: absolute;
   background: linear-gradient(180deg, rgba(255, 246, 242, 0.6) 0%, rgba(196, 235, 236, 0.6) 100%);
   border-radius: 24px;
   width: 100%;
   height: 162px;
   left: 0;
   right: 0;
   bottom: 0;
  }

  label {
   text-transform: uppercase;
   letter-spacing: 1px;
  }

  // select {
  //  height: 50px;
  //  position: relative;
  //  margin-top: 10px;
  //  display: flex;
  //  width: 100%;
  //  border-radius: 10px;
  //  border: 1px solid #ccc;
  //  padding: 0 10px;
  //  color: #9198b1;
  //  font-size: 18px;
  //  font-weight: 400;
  //  background-color: var(--white);
  //  &:focus-visible {
  //   border: 1px solid var(--green);
  //  }

  //   &.form-control {
  //   &:before {
  //    content: "";
  //    background: url(../images/select-arow.png) no-repeat;
  //    width: 40px;
  //    height: 40px;
  //    position: absolute;
  //    right: auto;
  //    z-index: 999;
  //   }
  //  }
  // }

  h6 {
   color: #9198b1;
   text-transform: uppercase;

   strong {
    color: #000;
    margin-left: 10px;
   }
  }

  .d-flex {
   margin-bottom: 30px;

   h4 {
    font-size: 28px;
   }
  }

  ul {
   align-items: center;
   justify-content: space-between;

   li {
    &.nav-item {
     button {
      padding: 12px 90px;
      font-size: 18px;
      box-shadow: 0px 4px 12px rgba(35, 49, 99, 0.05);
      background-color: var(--white);
      border: 2px solid rgba(46, 70, 157, 0.25);
      border-radius: 12px;
      color: #9198b1;
      display: flex;
      position: relative;

      &.active {
       border: 2px solid var(--green);
       color: var(--green);

       img {
        display: block;
       }
      }

      img {
       margin-right: 15px;
       display: none;
       position: absolute;
       left: 15px;
       top: 14px;
      }
     }
    }
   }
  }

  .customize-sec {
   position: relative;
   // &::after {
   //  content: '';
   //  background: linear-gradient(180deg, rgba(255, 246, 242, 0.6) 0%, rgba(196, 235, 236, 0.6) 100%);
   //  border-radius: 24px;
   //  position: absolute;
   //  width: 100%;
   //  height: 200px;
   //  bottom: auto;
   //  left: 0;
   //  right: 0;
   // }

   .range-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;

    .qty {
     width: 188px;
     height: 48px;
     border: 1px solid #ccc;
     align-items: center;
     justify-content: space-between;
     display: flex;
     border-radius: 12px;
     padding: 10px 10px;
     margin-top: 15px;
     font-weight: 400;

     .count {
      color: #000;
      display: inline-block;
      vertical-align: top;
      font-size: 25px;
      line-height: 30px;
      padding: 0 2px;
      min-width: 35px;
      text-align: center;
      font-weight: 400;
     }

     .plus,
     .minus {
      cursor: pointer;
      display: flex;
      vertical-align: top;
      color: var(--green);
      width: 24px;
      height: 24px;
      text-align: center;
      border-radius: 50% 50%;
      border: 2px solid var(--green) !important;
      background-color: var(--white) !important;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 0;
      font-weight: 400;
      font-size: 24px;

      &:hover {
       background-color: var(--green) !important;
       color: var(--white) !important;
      }
     }

     .minus {
      background-clip: padding-box;
     }
    }

    // span {
    //  -webkit-user-select: none;
    //  -moz-user-select: none;
    //  -ms-user-select: none;
    // }

    input {
     border: 0;
     width: 2%;

     &:disabled {
      background-color: white;
     }

     &::-webkit-outer-spin-button,
     &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
     }
    }

    label {
     text-transform: uppercase;
     letter-spacing: 1px;
    }
   }
  }

  .addition-tag {
   margin: 40px 0 70px;

   label {
    margin-bottom: 10px;
    padding: 0px;
   }

   .ss-main {
    padding: 0 !important;

    .ss-multi-selected {
     border: none;
     min-height: 60px;

     .ss-values {

      .ss-disabled {
       padding: 0px;
       font-size: 20px;
      }

      .ss-add {
       span {
        &.ss-plus {
         &::after {
          content: "\f107";
          font-family: "Font Awesome 5 Free";
         }
        }
       }
      }

      .ss-value {
       display: flex;
       user-select: none;
       align-items: center;
       font-size: 18px;
       padding: 0px;
       margin: 3px 5px 3px 0;
       color: #2E469D;
       background-color: rgb(144, 167, 253, 0.4);
       border-radius: 4px;
       animation-name: scaleIn;
       animation-duration: .2s;
       animation-timing-function: ease-out;
       animation-fill-mode: both;
       padding: 5px 20px;
       opacity: 0.8;
      }
     }
    }
   }
  }
 }

 .price-tag {
  label {
   margin-right: 20px;
   margin-top: 10px;
  }

  h5 {
   letter-spacing: 0;
   text-transform: uppercase;
   color: var(--green);
   font-size: 20px;
  }

  .select {
   width: 45% !important;
  }

  .addquote {
   a {
    background-color: #00ba76;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 12px 0;
    margin-top: 35px;
    border-radius: 10px;
    color: #ffff;
    font-size: 20px;
    border: 1px solid var(--green);

    img {
     margin-right: 10px;
    }

    &:hover {
     background-color: var(--white);
     color: #00ba76;
     border: 1px solid var(--green);

     img {
      filter: invert(53%) sepia(41%) saturate(5416%) hue-rotate(128deg) brightness(99%) contrast(101%);
     }
    }
   }
  }
 }

}


.products-descript-sec {
 padding: 0 0 90px;

 .container-fluid {
  padding: 0 90px;
 }

 ul {
  &.nav {

   margin: 50px 0;

   li {
    &.nav-item {
     position: relative;
     margin-right: 60px;

     button {
      font-size: 24px;
      color: rgb(35, 49, 99, 0.8);
      padding: 0 0 15px;

      @media (max-width: 1445.98px) {
       padding: 0 10px;
      }

      @media (max-width: 1024.98px) {
       padding: 0 5px;
      }
     }

     .nav-link {
      &.active {
       background-color: transparent;
       color: #233163;
       border-bottom: 2px solid var(--green);
       border-radius: 0;
      }
     }
    }
   }
  }
 }

 .descript-tag {
  h3 {
   line-height: 70px;

   span {
    color: var(--green);
    display: block;
   }
  }

  .quality-brief {
   ul {
    margin-top: 35%;
   }
  }

  .accordion {
   .accordion-item {
    h2 {
     &.accordion-header {
      .accordion-button {
       padding: 20px 0;
      }
     }
    }
   }

   .accordion-body {
    padding: 25px 0;

    p {
     font-size: 20px;
    }
   }
  }

 }
}

.related-sec {
 background: linear-gradient(180deg, rgba(255, 246, 242, 0.6) 0%, rgba(196, 235, 236, 0.6) 100%);
 border-radius: 40px;
 margin: 45px 35px;
 padding: 45px 0;

 .col-lg-3 {
  width: 20%;

  .product-item {
   border: 1px solid rgba(46, 70, 157, 0.25);
   box-shadow: 0px 0px 40px rgba(35, 49, 99, 0.1);
  }
 }

 p {
  &.mr-4 {
   margin: 0;
  }
 }

 .google-tag {
  display: flex;
  align-items: center;
  justify-content: center;

   p {
   margin: 0 0 0 15px;
  }
 }


}